.form-buscador {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0.5em;
    margin: 3% auto 5% auto;
    width: 90%;
    box-sizing: border-box;
}

.input-buscador {
    display: flex;
    flex: 1;
    color: #000000;
    border: 2px solid #ffffff;
    outline: none;
    border-radius: 10px;
    padding: 0em 0em 0em 0.3em;
    font-size: 1.5rem;
    width: 90%;
}


.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5em;
    color: rgb(103, 103, 103);
}

.button:hover {
    color: rgb(0, 0, 0);
}

#icono {
    font-size: 1.5rem;
}

@media (max-width: 600px) {
    .form-buscador {
        width: 95%;
        margin: 5% auto 7% auto;
    }

    .input-buscador {
        font-size: 1.2rem;
    }
}