.favoritos {
    display: flex;
    font-size: 2em;
    margin: 3% 5% 10% 2%;
}

/* .icono-favoritos {
    display: flex;
    font-size: 2.5rem;
    color: red;
    cursor: pointer;
    margin: 10%;
    padding: 10%
} */