.favoritos {
    font-size: 1.5em;
    color: black;
    padding: 17px 10px 0px 10px;
    background-color: #ffffff;
    border-radius: 10px;
    width: 20%;
}

.favoritos-list {
    list-style-type: none;
    padding: 0;
}

.favoritos-list li {
    padding: 8px;
    font-size: 1em;
}

@media (max-width: 1024px) {
    .favoritos {
        width: 95%;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
}