.main {
    background-color: rgb(190, 190, 190);
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
}

.left-section {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.results-container {
    width: 87%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}


@media (max-width: 1024px) {
    .main {
        height: auto;
        width: 95vw;
        flex-direction: column;
        align-items: center;
    }

    .left-section {
        width: 100%;
    }

    .results-container {
        width: 95%;
        padding: 10px 0;
    }
}