.main {
    background-color: rgb(203, 203, 203);
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
}