/* Para toda la web */
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(203, 203, 203);
}

#root {
    display: grid;
    place-items: center;
    /* centra todo dentro del root */
    height: 100vh;
}