html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(190, 190, 190);
}

#root {
    display: grid;
    place-items: center;
    height: 100vh;
}